.dashboard{
    width: 100vw;
    height: calc(100vh - 50px);
    background: white;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    overflow: hidden;
}
.Logo{
	display: inline-block;
	position: absolute;
	top: 0vh;
	color: white;
	font-weight: 400;
	left: 50%;
	transform: translateX(-50%);
}

.dashContainer{
	margin: auto;
	width: 100%;
	padding: 40px 20px 20px 20px;
	text-align: center;
}

.totalDisplay, .coinsDisplay, .chartDisplay{
	margin: 10px 0.5vw 0 0.5vw;
/*	padding: 2.05vh 1.04vw;*/
	padding: 0;
	background: #ededed;
	border-top: 5px solid transparent;
	border-image:linear-gradient(-45deg, #1e5799 0%, #27d190 50%, #263247 100%);
	-moz-border-image: -moz-linear-gradient(-45deg, #1e5799 0%, #27d190 50%, #263247 100%);
	-webkit-border-image:-webkit-linear-gradient(-45deg, #1e5799 0%, #27d190 50%, #263247 100%);
	border-image-slice: 1;
}

.totalDisplay, .coinsDisplay{
	-webkit-box-shadow: 5px 6px 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 6px 2px 2px rgba(0,0,0,0.25);
	box-shadow: 5px 6px 2px 2px rgba(0,0,0,0.25);
}

.totalDisplay{
	float: left;
	width: 620px;
	height: 20vh;
	text-align: center;
}
.coinsDisplay{
	margin-top: 20px;
	clear: both;
	float: left;
	width: 620px;
	height: 60vh;
}

.chartDisplay{
	display: inline-block;
	width: calc(95vw - 620px - 50px);
	height: calc(20vh + 60vh + 35px);
	text-align: center;
	margin-right: 20px;
	background: white;
}

.tableCoins{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 53vh;
}

.tableCoins::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tableCoins::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.tableCoins::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #03549b;
}

table{
	text-align: left;
	padding: 0 20px;

}

.totalDisplay h1, .coinsDisplay h1{
	font-size: 22px;
	margin: 0px;
	background: #f7f7f7;
}

.totalValue p{
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	padding: 1.5vh 0 0 0;
	color: #08498d;
}

.percentChange p{
	margin: 0;
}

.addCoin{
 	position: absolute;
 	left: 490px;
 	top: calc(20px + 20vh + 40px + 21px);
 	background: #ff530a;
 	color: white;
 	border-radius: 25px;
 	padding: 2px 10px;
 	transition: background 0.4s;
 	border: 1px solid black;
}

.addCoin:hover{
	cursor: pointer;
	background: #1b8480;
}

.react-autosuggest__container input{
	border-radius: 15px;
	padding: 3px;
}

th{
	min-width: 100px;
	max-width: 100px;
	padding:0;
	padding-right: 40px;
	text-align: left;
}

.tableCoins table{
	padding: 0 20px;

}
.coinsTable{
	width: 620px;
}

.coinTableName{
	text-align: left;
}

.coinTableValue{
	padding-left: 20px;
}

.tableLable{
	background: #1F6798;
	margin: 0;
	padding: 0;
	width: 100%;
	color: white;
}

.tableLable tbody tr th{
	position: relative;
	left: 20px;
}

.deleteCoin{
	position: relative;
	right: 40px;
	font-weight: 700;
}
.deleteCoin a{
	text-decoration: none;
	color: red;
}
.deleteCoin:hover{
	cursor: pointer;
}


@media only screen and (max-width:1200px) { 
	.dashboard {
		overflow-y: scroll;
		top: 50px;
	}
	.dashContainer{
		padding: 0;
		margin: 0;
	}
	.totalDisplay, .coinsDisplay{
		display: block;
		width: 100%;
		margin: 10px 0 0 0;
		height: auto;
	}
	.totalDisplay p{
		padding: 20px;
		font-size: 2.6em;
	}
	.addCoin{
		position: initial;
		height: 35px;
		font-size: 25px;
		border: none;
		border-radius: 0px;
	}

	.chartDisplay{
		width: 100%;
		margin: 10px 0 0 0;
	}
	table{
		width: 100% !important;
	}
	.tableCoins, .tableLable{
		width: 100%;
		display: table;
		padding: 0;

	}
	.tableCoins *, .tableLable *{
		margin: 0;
		padding: 0;
		border: 0;
	}

	th{
		min-width: 23vw;
	}
	.tableCoins {
		height: 33vh;
	}
	.tableCoins th {
		height: 30px;
		max-height: 30px;
	}

	.deleteCoin{
		position: relative !important;
		right: 99% !important;
		font-size: 2vh;
		min-width: 30px;
		width: 30px;
		text-align: center;
	}

	.deleteCoin a {
		padding: 0;
		font-size: 18px;
	}


}