.dashboard{
    width: 100vw;
    height: 95vh;
    background: white;
    position: absolute;
    bottom: 0vh;
    margin: 0px;
    overflow: hidden;

}
.totalDisplay, .coinsDisplay, .chartDisplay{
	margin: 10px 0.5vw 0 0.5vw;
	padding: 2.05vh 1.04vw;
	background: #dbdbdb;
	border-top: #1989ea 5px solid;
}
.totalDisplay{
	float: left;
	width: 30vw;
	height: 20vh;
	text-align: center;
}
.coinsDisplay{
	clear: both;
	float: left;
	width: 30vw;
	height: 60vh;
}

.chartDisplay{
	display: inline-block;
	width: 63.5vw;
	height: calc(20vh + 60vh + 10px + 45px);
	text-align: center;
	margin-right: 0px;
}

.tableCoins{
	overflow-y: scroll;
	height: 45vh;
}

.totalDisplay h1{
	font-size: 25px;
	margin: 0px;
}

.totalValue p{
	font-size: 40px;
	font-weight: 700;
	margin: 0;
	padding: 3vh 0;
}