
.LandingPage{
  color: #fff;
}
.LandingPage-title, .LandingPage-intro,.LandingPage-buttons{
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
}
.LandingPage-intro{
  top: 45vh;
}
.LandingPage-title{
  top: 35vh;
  font-size: 3em;
}
.LandingPage-buttons{
  top: 55vh;
  display: inline-block;
}
.LandingPage-buttons p{
  display: inline-block;
  margin: 15px;
}
.LandingPage-logInBtn, .LandingPage-getStartedBtn{
  font-weight: 500;
  padding: 20px;
  margin: 5px;
  width: 20vw;
  font-size: 1.4em;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  transition: all 0.6s;
}
.LandingPage-logInBtn:hover, .LandingPage-getStartedBtn:hover,.sbmtBtn:hover{
  cursor: pointer;
  color: #3d3d3d;
  border-color: #3d3d3d;
  background: rgba(255, 255, 255, 0.2);
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100vw;
  height: 40vh;
  background: #131960; /* Old browsers */
  background: -moz-linear-gradient(45deg, #131960 9%, #940ea5 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #131960 9%,#940ea5 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #131960 9%,#940ea5 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131960', endColorstr='#940ea5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.form-error{
  color: red;
}

.login-form h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.fieldsContainer{
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
}


.authMenuExit {
  position: relative;
  top: 10px;
  left: 15vw;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 1.4em;
  transition: all 0.4s;
}

.authMenuExit:hover{
  cursor: pointer;
  background: white;
  color: black;
}

.login-form input{
  border-radius: 5px;
  padding: 3px;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  color: white;
}

.sbmtBtn{
  position: relative;
  top: 20px;
  font-weight: 500;
  padding: 10px;
  width: 10vw;
  font-size: 1.1em;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  transition: all 0.6s;
  background: rgba(15, 195, 15, 0.7);
}



@media only screen and (max-width:800px) {
  .LandingPage-getStartedBtn, .LandingPage-logInBtn{
    display: block;
    width: 70vw;
    margin: 0 auto;
  }
  .LandingPage-title{
    top: 25%;
    font-size: 2em;
  }
  .LandingPage-intro{
    top: 35%;
  }
  .LandingPage-buttons{
    top: 50%;
  }
  .LandingPage-buttons * {
    font-size: 1.1em;
    padding: 20px
  }
  .LandingPage-buttons p {
    padding: 5px;
    margin: 0;
  }
  .login-form{
    height: 70vh
  }
  .sbmtBtn{
    width: 40vw;
  }
  .authMenuExit{
    left: 35vw;
  }
  .fieldsContainer{
    top: 35%;
  }
  .login-form h2 {
    padding-top: 30px;
  }
}